body {
  text-align: center;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}

.title {
  margin-top: 30px;
  font-weight: 700;
  color: rgb(104, 113, 155);
}
.search-input {
  width: 400px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid rgb(105, 104, 104);
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.search-btn {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgb(219, 222, 224);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
}

.search-btn:hover,
.search-btn:focus {
  background-color: rgb(197, 209, 218);
  outline: none;
}
.more-btn {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgb(208, 211, 214);
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.more-btn:hover,
.more-btn:focus {
  background-color: rgb(197, 209, 218);
  outline: none;
}

.more-btn.is-hidden {
  display: none;
}

.gallery {
  // width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: -20px;
}

.gallery-item {
  flex-basis: calc((100%-80px) / 4);
  margin-left: 20px;
  margin-top: 20px;
  /* width: calc(25%-40px); */
  // width: 320px;
}

.photo-card {
  /* height: 320 px; */
  box-shadow: 0 5px 10px 2px rgb(11 57 92 / 20%);
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
}
